<div class="project-social-links">
    <a class="btn btn-primary" href="/">About Me</a>
    <a class="btn btn-primary" href="/cv">Curriculum Vitae</a>
    <a class="btn btn-primary" href="https://github.com/HaochenH" target="_blank">GitHub</a>
    <a class="btn btn-primary" href="mailto:haochh@yahoo.com">Contact Me via Email</a>
  </div>

<!-- <div class="project-social-links flex flex-row justify-center space-x-4">
    <a class="btn btn-primary w-32" href="/">About</a>
    <a class="btn btn-primary w-32" href="/cv">CV</a>
    <a class="btn btn-primary w-32" href="mailto:haochh@yahoo.com">Contact Me</a>
    <a class="btn btn-primary w-32" href="https://github.com/HaochenH">GitHub</a>
  </div> -->
