<nav class="border-gray-200 lg:py-2.5 dark:bg-gray-800 pt-3 pb-3 px-4 lg:px-6">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
    <div class="navbar pt-1">
      <div class="nav-links">
        <a href="/" class="nav-link">
          <i class="material-icons notranslate">home</i>
          <span class="notranslate">Haochen Hu</span>
        </a>
        <a class="nav-link px-3" href="/cv">
          <i class="material-icons notranslate">contact_page</i>
          CV
        </a>
        <a class="nav-link px-3" href="https://github.com/HaochenH" target="_blank">
          <i class="material-icons notranslate">integration_instructions</i>
          GitHub
        </a>
        <a class="nav-link px-3" href="mailto:haochh@yahoo.com" id="r1">
          <i class="material-icons notranslate">mail</i>
          Contact Me via Email</a>

      </div>
    </div>
  </div>
</nav>
