---
---

@import "{{ site.theme }}";
.site-footer-credits {
  display: none;
}

.page-header {
  // background: linear-gradient(rgba(125, 37, 34, 0.966) rgba(0, 0, 0, 0.5));
  background-image: url(../images/city-min.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

// header {
//   color: #fff;
// }

main h1, h2, h3, h4, h5, h6 {
  color: rgb(86, 17, 17);
}