---
---

@import "{{ site.theme }}";
.site-footer-credits {
  display: none;
}

.page-header {
  background-color: rgba(133, 133, 133, 0.5);
  // background-image: url(../images/city-min-dark.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // background-image: linear-gradient(-45deg, rgba(238,119,82,0.15), rgba(231,60,126,0.15), rgba(35,166,213,0.15), rgba(35,213,171,0.15)), url(../images/city-min-dark.jpeg);
  background-image: linear-gradient(rgba(38, 24, 19, 0.617), rgba(44, 20, 23, 0.68)), url(../images/photo-1605876516612-a04e21021ead.webp);
}

.btn {
  color: rgb(255, 255, 255);
  background-color: rgba(80, 80, 80, 0.2);
  border-color: rgba(255, 209, 209, 0.2);
  // box-shadow: 0 0 0 0.2rem rgba(141, 81, 81, 0.2);
  font-size: 1rem;
}

body {
  background-color: rgba(0, 0, 0, 0.919);
  color: white;
}

#content {
  color:rgb(41, 41, 41)
}

p, li {
  color:rgb(241, 241, 241)
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  color:rgb(206, 126, 137)
}

#content h1 {
  font-size: 2.5rem;
}

#content h2 {
  font-size: 2rem;
}

#content h3 {
  font-size: 1.75rem;
}

#content a {
  color:rgb(171, 129, 135)
}

footer {
  color: rgb(187, 187, 187);
}