<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="UTF-8">
  {% seo %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style"
    type="text/css" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="black">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <script src="/assets/js/script.js"></script>
  {% include head-custom.html %}
</head>

<body>
  <header class="nav animate__animated animate__fadeIn pt-3 pb-3 px-4 lg:px-6">
    {% include navigation-bar.html %}
  </header>
  <header class="page-header" role="banner" id="header">
    <!-- <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1> -->
    <h1 class="project-name mt-16 notranslate">Haochen Hu</h1>
    <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline
      }}</h2>
  </header>

  <main id="content" class="main-content animate__animated animate__fadeIn" role="main">
    {{ content }}

    <!-- <footer class="site-footer"> -->
    <footer class="footer animate__animated animate__fadeIn pt-4" role="contentinfo">
      <!-- {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %} -->
      <br>

      <div id="google_translate_element">
        <!-- <button onclick="triggerTranslation()" class="btn" style="color:rgb(200, 200, 200)">Translate</button> -->
        <script type="text/javascript">
          function googleTranslateElementInit() {
            var browserLang = window.navigator.language || window.navigator.userLanguage;
            if (!browserLang.startsWith('en')) {
              new google.translate.TranslateElement(
                {
                  pageLanguage: 'en',
                  includedLanguages: 'zh-TW,zh-CN,ja,fr,de,ru,es,pt,hi,ms,th,tl,vi,ko',
                  autoDisplay: false
                },
                'google_translate_element'
              );
            } else {
              // Hide the Translate button
              document.getElementById('google_translate_element').style.display = 'none';
            }
          }
      
          function triggerTranslation() {
            var translateButton = document.querySelector('.goog-te-combo');
            if (translateButton) {
              translateButton.dispatchEvent(new Event('change'));
            }
          }
      
          window.addEventListener('load', function() {
            googleTranslateElementInit();
            triggerTranslation();
            setTimeout(function() {
              triggerTranslation();
            }, 500);
          });
        </script>
        <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      </div>

      <br>
      <span class="site-footer-owner notranslate">Copyright © {{ site.time | date: '%Y' }} Haochen Hu. All Rights
        Reserved.</span>
      <br>
    </footer>
  </main>
</body>

</html>